@model sedixscope.web.Models.ViewModels.RegisterViewModel

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">
                Register
            </h1>

            <form action="" method="post">
                <div class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" asp-for="Username" asp-validation-for="Username" required minlength="3">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" asp-for="Email" asp-validation-for="Email" required>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" asp-for="Password" asp-validation-for="Password" required minlength="6">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>